#container {
  display: flex;
  flex-direction: column;
}

table {
  width: 100%;
  font-size: 0.8em;
  /* overflow-y: auto; */
  max-height: 350px;
}

.table__red {
  font-weight: bold;
  color: red;
}

.table__green {
  font-weight: bold;
  color: green;
}

tbody tr:hover {
  transition: 0.1s;
  transition-property: #fff;
  background-color: #ded9d9;
}

#totals-footer {
  display: flex;
  justify-content: space-between;
  padding: 3px 20px;
  background-color:#fcfcfc;
  position: relative;
  height: 100%;
  font-size: 16px;
  font-weight: bolder;
  color: #000;
}